.ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}

.ofertas > h1 {
    width: 100%;           /* Ocupa toda a largura disponível */
    text-align: center;     /* Centraliza o texto */
    font-size: 2.5em;       /* Aumenta o tamanho da fonte */
    color: #21934b;         /* Define a cor do texto */
    margin-bottom: 40px;    /* Adiciona espaço abaixo do título */
}

.produtos {
    width: 20%;
    margin: 1%;
    box-sizing: border-box;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(100px); /* Posiciona fora da tela, abaixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transições suaves */
}

.produtos.show {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição original */
}

.produtos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produtos > h3 {
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

.forte {
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    color: #e63946; /* Cor do texto */
    font-weight: bold; /* Negrito para destacar ainda mais */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    padding: 5px; /* Espaçamento interno para adicionar "air" ao redor do texto */
    border-radius: 5px; /* Canto arredondado */
}

.produtos button {
    margin-top: 10px;
    height: 50px;
    padding: 10px 20px;
    background-color: #21934b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.produtos button:hover {
    background-color: #1a7438;
}